<hr>
<i>img component works!</i>
<br>
<h2>Uso del decorador @Input()</h2>
<hr>
<ul>
  <li>
    <h2>Interpolación</h2>
    <p>{{img}}</p>
  </li>
  <li>
    <h2>Uso del decorador @Input</h2>
    <span>Image string value:</span>
    <p>{{imgFromFather}}</p>
    <b><p color="red">*{{imgStatusPhrase}}</p></b>
  </li>
  <li>
    <h2>Uso del decorador @Input con datos dinamicos desde el input padre</h2>
    <span>Image rendered value:</span><br>
    <img
      (load)="imageLoaded()"
      (error)="imageError()"
      width="200px"
      [src]="imgFromFather"
      alt="renderd-image-string"/>
  </li>
</ul>
