/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
  }

body {
  margin: 0;
  font-family: 'Roboto';
}

.products--grid {
  app-img {
    width: 200px;
    display: flex;
    justify-content: center;
    img {
      border-radius: 10px;
      max-height: 200px;
    }
  }
}
